/*标题*/
.class-schedule-title {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

/*日期共用定位*/
.schedule-date {
  position: absolute;
  top: 58px;
  z-index: -1;
}

/*日期箱子*/
.schedule-box-date {
  float: left;
  height: 15vw;
  width: calc(((100vw - 46px) / 7));
  text-align: center;
  font-size: 12px;
  color: #424242;
}

/*上课时间共用定位*/
.schedule-class-time {
  position: absolute;
  z-index: -1;
  top: 102px;
}

/*时间箱子*/
.schedule-class-time-box {
  height: 15vw;
  width: 46px;
  display: flex;
}

/*上课时间*/
.schedule-class-time-text {
  text-align: center;
  align-self: center;
  color: #424242;
  font-size: 12px;
  width: 100%;
}

/*每一天的定位*/
.day-list {
  position: absolute;
  top: 95px;
  z-index: -1;
}

/*课程的箱子*/
.schedule-class {
  margin: 5px;
  box-shadow: 1px 1px 3px #929292;
  position: absolute;
  width: calc(((100vw - 45px) / 7) - 3px);
  font-size: 12px;
  border-radius: 5px;
  color: white;
}

/*课程*/
.class-text {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 4px;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  line-height: 16px;
}

.class-schedule-popup-card {
  background: #ffffff;
  width: 90vw;
}

.class-schedule-row {
  position: absolute;
  width: 100%;
  top: calc(15vw * 16 + 90px);
  height: 150px;
}

.class-schedule-button {
  width: 75%;
  border-radius: 8px;
}